html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

ol, ul {
  list-style-type: none;
}
li {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  cursor: pointer;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 40px;
  text-decoration: underline;
}

.delete {
  margin-left: 40px;
}
.example {
  color: grey;
}
.done {
  text-decoration: line-through;
  color: grey;
}
.newlist {
  margin-top: 20px;
  padding: 7px 7px;
}